h1{
background-color: blueviolet;
width: 230px;
height: 50px;
margin: 20px auto;
transform: rotate(40deg);
}

h2{
    background-color: blueviolet;
    width: 230px;
    height: 50px;
    margin: 20px auto;
    transform: scale(2);
    }

    
    h3{
        background-color: blueviolet;
        width: 230px;
        height: 50px;
        margin: 20px auto;
        transform: translate(400px);
        }

        
        h4{
            background-color: blueviolet;
            width: 230px;
            height: 50px;
            margin: 20px auto;
            transform: skew(40deg);
            }
            